/* Grid & Flexbox*/
body {
  display: grid;
  grid-template-columns: 18% 20% 20% 20% 18%;
  grid-gap: 20px;
}

header {
  grid-column-start: 2;
  grid-column-end: 5;
}

nav.main {
  grid-column-start: 2;
  grid-column-end: 5;
}

nav.main {
  display: flex;
  justify-content: space-around;
}

.stats {
  display: flex;
  justify-content: space-around;
}

main {
  grid-column-start: 2;
  grid-column-end: 5;
  display: grid;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

article {
  grid-column-start: 1;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  flex: 1 0 20%;
  margin: 10px;
}

aside {
  grid-column-start: 2;
  grid-column-end: 4;
}

footer {
  grid-column-start: 2;
  grid-column-end: 5;
  display: flex;
  justify-content: space-evenly;
}
