.large {
  display: block;
  border-radius: 10px;
  height: 500px;
}

.center {
  display: block;
  margin: 0 auto;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
}

.hero-image {
  height: 500px; /* adjust the height to fit your image */
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 10px; */
}
