.large {
  display: block;
  border-radius: 10px;
  height: 500px;
}

.center {
  display: block;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  flex: 1 0 20%;
  margin: 10px;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
}
