a {
  text-decoration: none;
  color: #007e7e;
}

nav .active {
  background: #007e7e;
  padding: 0.5em 2em 0.5em 2em;
  color: white;
}

nav.main a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5em 2em 0.5em 2em;
}

nav.main {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.2em;
}

nav.main a:hover {
  color: red;
}
