nav ul {
  align-items: center;
  background-color: green;
  padding: 1rem;
  list-style-type: none;
}

nav li {
  padding: 0.5em 2em 0.5em 2em;
}

nav a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
  margin-right: 1rem;
}

nav a:hover {
  color: red;
}

nav {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: #007e7e;
}

a:active {
  background: #007e7e;
  padding: 0.5em 2em 0.5em 2em;
  color: white;
}
