nav li {
  display: inline;
  padding-right: 1em;
  padding-left: 1em;
}

nav a {
  text-decoration: none;
}

nav li.active a {
  background: #007e7e;
  padding: 0.5em 2em 0.5em 2em;
  color: white;
}
