/* Typography */

body {
  line-height: 1.6em;
  font-size: 1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #ececec;
}

header,
h1,
h2,
h3 {
  text-align: center;
}

h1,
h2 {
  color: #486150;
}

h3 {
  color: #486150;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.5em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

p {
  color: #1b1f1e;
}

/* Journal page */
.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */

header {
  background-color: #263321;
}

header h1 {
  color: #f1bf37;
}

nav #main {
  font-size: 1.5em;
}

/* Footer  */
footer #copyright {
  text-align: center;
}
