---
layout: base.njk
title: Gallery - Ultra Endurance Race
---
<h2>Gallery</h2>
<h3>Photos taken by Peter Fortune, Adrian Crapciu & Fergus Coyle</h3>

<figure class="gallery">
  {% for i in range(1, 61) %}
    <div class="gallery-item">
      <a href="/images/gallery/p{{ i }}.jpg"><img src="/images/gallery/p{{ i }}.jpg" loading="lazy"></a>
    </div>
  {% endfor %}
</figure>