---
layout: base.njk
title: Gallery - Ultra Endurance Race
eleventyNavigation:
  key: Gallery
  order: 6
---
<h2>Gallery - TransAtlanticWay 2022</h2>
<h3>Photos taken by Peter Fortune, Adrian Crapciu & Fergus Coyle</h3>

<figure class="gallery">
  {% for i in range(1, 61) %}
    <div class="gallery-item">
      <img src="/images/gallery/p{{ i }}.jpg" loading="lazy">
    </div>
  {% endfor %}
</figure>