---
layout: base.njk
title: Bikepacking 101
---
<h2>Gear List</h2>
<h3>What gear did I bring?</h3>

<p>
  Bikepacking is a unique combination of cycling and backpacking. When preparing for a multi-day race like the TransAtlanticWay, 
  every ounce matters. After many long training rides, I was able to hone in on the ideal gear list for the 8.5-day race, 
  keeping the total weight of everything, including the bike and bags, at 17.54kg.
</p>

<p>
  However, it's important to note that the amount of food and water on the bike would vary each day, depending on the route and 
  distance to the next resupply point. Despite this variable, I was confident that my meticulously selected gear list would 
  allow me to tackle the challenge ahead.
</p>

<p>
    <h2>Kitchen</h2>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Weight (g)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Optimus Long Spoon</td>
                <td>20</td>
            </tr>
            <tr>
                <td>Microfibre Cloth</td>
                <td>73</td>
            </tr>

            <tr>
                <td>Total</td>
                <td>93</td>
            </tr>
        </tbody>
    </table>

    <h2>Tent & Sleeping System</h2>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Weight (g)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tarptent Protrail</td>
                <td>900</td>
            </tr>
            <tr>
                <td>Western Mountaineering Flylite 2°</td>
                <td>458</td>
            </tr>
            <tr>
                <td>NeoAir XLite Regular</td>
                <td>384</td>
            </tr>
            <tr>
                <td>Premium Aeros Pillow</td>
                <td>77</td>
            </tr>
            <tr>
                <td>Sleeping Pad Patch Kit</td>
                <td>12</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>1831</td>
            </tr>
        </tbody>
    </table>

    <h2>Clothes Packed</h2>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Weight (g)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Montane Terra Pants Large</td>
                <td>327</td>
            </tr>
            <tr>
                <td>Long Sleeve Merino Base Layer</td>
                <td>167</td>
            </tr>
            <tr>
                <td>Under Armour Boxers</td>
                <td>74</td>
            </tr>
            <tr>
                <td>Warm Socks</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Light Hiking Sock</td>
                <td>77</td>
            </tr>
            <tr>
                <td>Icebreaker Merino Hat</td>
                <td>53</td>
            </tr>
            <tr>
                <td>Alpkit Rain Jacket</td>
                <td>462</td>
            </tr>
            <tr>
                <td>Reflective Ankle Straps</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Dry Bag</td>
                <td>46</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>1356</td>
            </tr>
        </tbody>
    </table>

    <h2>Water</h2>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Weight (g)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>700ml Water Bottle</td>
                <td>64</td>
            </tr>
            <tr>
                <td>Apidura 3L Bladder</td>
                <td>98</td>
            </tr>
            <tr>
                <td>Apidura Bladder Hose</td>
                <td>68</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>230</td>
            </tr>
        </tbody>
    </table>

    <h2>Electronics</h2>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Weight (g)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lenzyne 1300 XXL</td>
                <td>224</td>
            </tr>
            <tr>
                <td>Lezyne 500XL</td>
                <td>140</td>
            </tr>
            <tr>
                <td>Hammerhead Karoo 2</td>
                <td>135</td>
            </tr>
            <tr>
                <td>Lezyne Strip Rear 150</td>
                <td>61</td>
            </tr>
            <tr>
                <td>Lezyne Strip Pro 300</td>
                <td>62</td>
            </tr>
            <tr>
                <td>RAVPower 10000mah</td>
                <td>169</td>
            </tr>
            <tr>
                <td>Hyperjuice 20000mah</td>
                <td>765</td>
            </tr>
            <tr>
                <td>Various Cables</td>
                <td>100</td>
            </tr>
            <tr>
                <td>100W Charger</td>
                <td>582</td>
            </tr>
            <tr>
                <td>Wireless OnePlus Earphones</td>
                <td>28</td>
            </tr>
            <tr>
                <td>Garmin Fenix 7</td>
                <td>74</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>2360</td>
            </tr>
        </tbody>
    </table>

    <h2>Tools & Spares</h2>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Weight (g)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>38c Inner Tube (2)</td>
                <td>138</td>
            </tr>
            <tr>
                <td>Lezyne Pocket Drive Pro</td>
                <td>103</td>
            </tr>
            <tr>
                <td>Fingo Tube Repair Kit</td>
                <td>57</td>
            </tr>
            <tr>
                <td>Park Tools Levers (2)</td>
                <td>24</td>
            </tr>
            <tr>
                <td>SPD Yellow Cleats</td>
                <td>73</td>
            </tr>
            <tr>
                <td>Allen Key</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>410</td>
            </tr>
        </tbody>
    </table>

    <h2>Medical Kit</h2>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Weight (g)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Victorinox Swiss Knife</td>
                <td>98</td>
            </tr>
            <tr>
                <td>Ibuprofen</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Panadol</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Various Sizes Plasters</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Alcohol Wipes</td>
                <td>17</td>
            </tr>
            <tr>
                <td>Motillium</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Antihistamine</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Imodium</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Electrolytes &amp; Caffeine Pills</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Sunscreen Bottle</td>
                <td>80</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>261</td>
            </tr>
        </tbody>
    </table>

    <h2>Hygiene</h2>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Weight (g)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Small Pack of Wet Wipes</td>
                <td>70</td>
            </tr>
            <tr>
                <td>Medium Toothbrush</td>
                <td>20</td>
            </tr>
            <tr>
                <td>Tube Toothpaste</td>
                <td>30</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>120</td>
            </tr>
        </tbody>
    </table>

    <h2>Bike & Bags</h2>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Weight (g)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Brooks Saddle Cover</td>
                <td>31</td>
            </tr>
            <tr>
                <td>Apidura Large Saddle Bag</td>
                <td>400</td>
            </tr>
            <tr>
                <td>Apidura 7.5L Expedition Full Frame Pack</td>
                <td>335</td>
            </tr>
            <tr>
                <td>Canyon Load Dry 5L & Straps (2)</td>
                <td>152</td>
            </tr>
            <tr>
                <td>Canyon Grizl CF SL8 Bike</td>
                <td>9200</td>
            </tr>
            <tr>
                <td>Brooks B17 Saddle</td>
                <td>520</td>
            </tr>
            <tr>
                <td>Apidura Top Tube Fuel Bag</td>
                <td>220</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>10878</td>
            </tr>
        </tbody>
    </table>

</p>