---
layout: base.njk
title: Bikepacking 101 - Outdoors Blog
eleventyNavigation:
  key: Gear List
  order: 3
---

<p>
  Simply put, bikepacking is the synthesis of all-terrain cycling and self-supported backpacking. It 
  evokes the freedom of multi-day backcountry hiking and travel off the beaten path, but with the range 
  and thrill of riding a nimble bicycle. It’s about venturing further into places less traveled, both 
  near and far, via singletrack trails, gravel, and forgotten dirt roads, carrying the essential gear, 
  and not much more.
</p>

<p>
  For the TransAtlanticWay we pared down our gear to as light as we were willing to go. What you see below
  is everything we carried with us for the 8 days of the race.
</p>

<p>
    <h2>Kitchen</h2>
    <ol>
        <li>Long Spoon</li>
        <li>Microfibre Cloth</li>
    </ol>

    <h2>Tent & Sleeping System</h2>
    <ol>
        <li>Tarptent Protrail</li>
        <li>Western Mountaineering Flylite Sleeping Bag</li>
        <li>Thermarest NeoAir XLite Regular Sleeping Pad</li>
        <li>Inflatable Pillow</li>
        <li>Sleeping Pad Patch Kit</li>
    </ol>

    <h2>Clothes Packed</h2>
    <ol>
        <li>Hiking Pants</li>
        <li>Long Merino Base Layer Top</li>
        <li>Spare Merino Boxers</li>
        <li>Warm Wool Socks</li>
        <li>Light Hiking Socks</li>
        <li>Merino Wool Hat</li>
        <li>Alpkit Rain Jacket</li>
        <li>Reflective Ankle Straps</li>
        <li>Dry Bag</li>
    </ol>

    <h2>Water</h2>
    <ol>
        <li>700ml Water Bottle</li>
        <li>Apidura 3L Water Bladder</li>
        <li>Apidura Bladder Hose</li>
    </ol>

    <h2>Electronics</h2>
    <ol>
        <li>2 Front Lights</li>
        <li>2 Back Lights</li>
        <li>GPS Computer</li>
        <li>2 Battery Packs (10000mah and 20000mah)</li>
        <li>100w GAN Charger</li>
        <li>Wireless earphones</li>
        <li>Garmin Fenix 7 watch</li>
        <li>Various cables</li>
    </ol>

    <h2>Tools & Spares</h2>
    <ol>
        <li>Inner tubes (38c x 2)</li>
        <li>Pocket Pump</li>
        <li>Puncture Repair kit</li>
        <li>Tire levers</li>
        <li>Spare SPD Cleats</li>
        <li>Allen Key</li>
    </ol>

    <h2>Medical Kit</h2>
    <ol>
        <li>Swiss Army Knife</li>
        <li>Ibuprofen</li>
        <li>Panadol</li>
        <li>Alcohol Wipes</li>
        <li>Antihistamine</li>
        <li>Electrolytes & Caffeine tabs</li>
        <li>Sunscreen</li>
    </ol>

    <h2>Hygiene</h2>
    <ol>
        <li>Wet Wipes Small Pack</li>
        <li>Medium Toothbrush</li>
        <li>Small Tube Toothpaste</li>
    </ol>

    <h2>Bike & Bags</h2>
    <ol>
        <li>Brooks Saddle Cover</li>
        <li>Brooks B17 Saddle</li>
        <li>Apidura 7.5L Frame Bag</li>
        <li>Canyon Load Dry 5L Dry Bags (2)</li>
        <li>Apidura Top Tube Bag</li>
    </ol>
</p>