---
layout: layout.njk
title: Home - Outdoors Blog
---
<div id="navigation">
  <ul id="menu">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/route">Route</a></li>
  </ul>
</div>
<div>
  <p>Hello World</p>
</div>
