---
layout: layout.njk
title: Home - Outdoors Blog
---
<nav>
  <ul id="menu">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/route">Route</a></li>
  </ul>
<nav>

<div>
  <p>Hello World</p>
</div>
