---
layout: base.njk
title: Race Journal - Outdoors Blog
eleventyNavigation:
  key: Journal
  order: 4
---

<h2>TransAtanticWay Race Journal</h2>
<h3>Day 0 - "Day Before"</h3>

<section class="stats">
  <p>
    <strong>Distance: 0km</strong>
  </p>
  <p>
    <strong>Total Time: 00:00:00</strong>
  </p>
  <p>
    <strong>Elevation Gain: 0m</strong>
  </p>
</section>

<img class="large center" src="/images/journal/day0-train-to-derry.jpg"/>
<p>
  Getting to the event was an adventure in itself. My friend and I left 
  Waterford early in the morning, loaded up with our bikes and gear, ready 
  to take on the TransAtlanticWay. The 10-hour train journey to Derry was long, but we passed the time chatting, 
  snacking, and taking in the scenery. We took a photo of ourselves beaming 
  with excitement on the train, eager to begin this incredible journey.
</p>

<img class="large center" src="/images/journal/day0-all-smiles.jpg"/>
<p>
  When we arrived in Derry, we met up with other racers, registered, and had a 
  briefing with the organisers. It was great to see so many other cyclists, all 
  with the same goal in mind. We picked up supplies for the next day, checked our 
  gear, and went to bed early. 
</p>

<img class="large center" src="/images/journal/day0-briefing.jpg"/>
<p>
  But despite my exhaustion, I found it hard to sleep. 
  My mind was racing with excitement and nerves, and I could hardly believe that 
  the TransAtlanticWay was finally about to begin.
</p>

</article>