---
layout: layout.njk
title: Route - Outdoors Blog
---

<section>
  <div class="strava-embed-placeholder" data-embed-type="activity" data-embed-id="7282478437"></div>
  <script src="https://strava-embeds.com/embed.js"></script>
</section>