---
layout: base.njk
title: Race Route
---
<h3>TransAtlanticWay - 1687km Race Route</h3>

<img class="large center" src="/images/route1.jpg"/>

<p>
  The TransAtlanticWay is a one stage self-supported road bike ride
  between Dublin and Cork via The Wild Atlantic Way. A choice of two
  routes: Cu Culhainn – 2500kms and Setanta – 1700kms with the pounding
  swell of the Atlantic as your constant companion, you follow the blue
  zig-zag signposts through seven of Ireland’s westernmost counties and
  be treated to many of Ireland’s scenic showstoppers, welcoming towns
  and villages, heritage sites and plenty of unexpected thrills.
</p>

<p>
  During the ride all responsibility lies with the rider, to be totally
  self-sufficient. There is some help with logistics provided by means of a bag and/or
  bike box drop at the start, and transfer of bags to the finish.
</p>

<p>
  All riders are given and required to carry a gps tracker which
  enables friends, family and the ride organisers to follow your
  progress and is used to validate the time and route. The ride
  is split into two categories: Solo and Pairs.
</p>

<iframe src="https://ridewithgps.com/embeds?type=route&id=37638814&metricUnits=true&sampleGraph=true&distanceMarkers=true" style="width: 1px; min-width: 100%; height: 700px; border: none;" scrolling="no"></iframe>