<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    {%include "header.njk"%}

    {%include "nav.njk"%}

    <main>
      <article id="maincontent">
        {{ content | safe }}

        {% if page
          .url
          .includes('journal') %}
          <aside>
            {%include "side_nav.njk"%}
          </aside>
        {% endif %}
      </section>
    </main>

    {%include "footer.njk"%}

  </body>
</html>