<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <main class="container">
      <img src="/images/logo.png" class="logo center">

      <header>{%include "nav.njk"%}</header>

      <section id="maincontent">
        {{ content | safe }}
      </section>
    </main>
  </body>
</html>