<nav>
    <ul>
        <li {% if page.url == "/" %}class="active"{% endif %}>
            <a href="/">Home</a>
        </li>
        <li {% if page.url == "/about/" %}class="active"{% endif %}>
            <a href="/about">About</a>
        </li>
        <li {% if page.url == "/route/" %}class="active"{% endif %}>
            <a href="/route">Route</a>
        </li>
        <li {% if page.url == "/gear/" %}class="active"{% endif %}>
            <a href="/gear">Gear</a>
        </li>
        <li {% if page.url == "/logs/" %}class="active"{% endif %}>
            <a href="/logs">Daily Logs</a>
        </li>
        <li {% if page.url == "/photos/" %}class="active"{% endif %}>
            <a href="/photos">Photos</a>
        </li>
    </ul>
    <nav>