<nav class="main">
    <a href="/" {% if page.url == '/' %}class="active"{% endif %}>Home</a>
    <a href="/route/" {% if page.url == '/route/' %}class="active"{% endif %}>Route</a>
    <a href="/gear/" {% if page.url == '/gear/' %}class="active"{% endif %}>Gear List</a>
    <a href="/journal/" {% if '/journal/' in page.url %}class="active"{% endif %}>Journal</a>
    <a href="/gallery/" {% if page.url == '/gallery/' %}class="active"{% endif %}>Gallery</a>
</nav>