<nav class="side-nav">
    <h3>Race Days</h3>
    <ul>
        <li>
            <a href="/journal/day1/" {% if page.url == '/journal/day1/' %}class="active"{% endif %}>Day 1 - "The Race is On"</a>
        </li>
        <li>
            <a href="/journal/day2/" {% if page.url == '/journal/day2/' %}class="active"{% endif %}>Day 2 - "Disaster Strikes"</a>
        </li>
        <li>
            <a href="/journal/day3/" {% if page.url == '/journal/day3/' %}class="active"{% endif %}>Day 3 - "Hope for a Fix"</a>
        </li>
        <li>
            <a href="/journal/day4/" {% if page.url == '/journal/day4/' %}class="active"{% endif %}>Day 4 - "Achill Island"</a>
        </li>
        <li>
            <a href="/journal/day5/" {% if page.url == '/journal/day5/' %}class="active"{% endif %}>Day 5 - "Run In With a Deer"</a>
        </li>
        <li>
            <a href="/journal/day6/" {% if page.url == '/journal/day6/' %}class="active"{% endif %}>Day 6 - "To Catch a Ferry"</a>
        </li>
        <li>
            <a href="/journal/day7/" {% if page.url == '/journal/day7/' %}class="active"{% endif %}>Day 7 - "Conor Pass & Dingle"</a>
        </li>
        <li>
            <a href="/journal/day8/" {% if page.url == '/journal/day8/' %}class="active"{% endif %}>Day 8 - "Riding into the Night"</a>
        </li>
        <li>
            <a href="/journal/day9/" {% if page.url == '/journal/day9/' %}class="active"{% endif %}>Day 9 - "The Last Mile"</a>
        </li>
    </ul>
</nav>