---
layout: base.njk
title: Day 1 - Race Journal - Outdoors Blog
---
<h2>TransAtanticWay Race Journal</h2>
<h3>Day 1 - "The Race is On"</h3>
<section class="stats">
  <p>
    <strong>Distance: 213.24km</strong>
  </p>
  <p>
    <strong>Moving Time: 12:07:48</strong>
  </p>
  <p>
    <strong>Elevation Gain: 3,268m</strong>
  </p>
</section>

<img class="large center" src="/images/journal/day1-start.jpg"/>

<p>
  The TransAtlanticWay officially began at 5 am, just as the sun began to rise. 
  It was a beautiful start to the day, but we quickly realized that we had gone 
  out too strong. The hills on the way to Malin Head were brutal, and we found 
  ourselves struggling to keep up with the other riders. Malin Head, is the 
  most northerly point in Ireland.
</p>

<img class="large center" src="/images/journal/day1-malin-head.jpg"/>
<p>
  After leaving Malin Head, we had to tackle Mamore Gap, which was a challenging climb. 
  We had to make sure we arrived in time for the ferry at Buncrana, which left every 90 
  minutes. We made it just in time, but we knew that if we had arrived late, it would 
  have been a long wait for the next one.
</p>

<img class="large center" src="/images/journal/day1-ferry.jpg"/>

<p>
  From there, we cycled on to the first checkpoint at Fanad Head Lighthouse. It was great to see 
  the beautiful scenery and landscapes that Ireland has to offer along the way. We cycled 
  as far as we could before stopping for the day, which was around 9 pm. It had been a 
  long and challenging day, and we had cycled a total of 213.24km with 12:07:48 moving 
  time and a total elevation gain of 3268m.
</p>

<img class="large center" src="/images/journal/day1-lighthouse.jpg"/>

<p>
  We set up camp in a wooded area, quickly ate our dinner, and fell asleep, exhausted 
  from the day's exertions. Despite the challenges, we were excited to see what the next 
  day would bring.
</p>

<iframe src="https://ridewithgps.com/embeds?type=route&id=42141470&metricUnits=true&sampleGraph=true&distanceMarkers=true" style="width: 1px; min-width: 100%; height: 700px; border: none;" scrolling="no"></iframe>
</article>