---
layout: base.njk
title: Day 2 - Race Journal - Outdoors Blog
---

<h2>TransAtanticWay Race Journal</h2>
<h3>Day 2 - "Disaster Strikes"</h3>
<section class="stats">
  <p>
    <strong>Distance: 137.2km</strong>
  </p>
  <p>
    <strong>Moving Time: 9:53:48</strong>
  </p>
  <p>
    <strong>Elevation Gain: 2,435m</strong>
  </p>
</section>

<img class="large center" src="/images/journal/day2-gravel.jpg"/>

<p>
  We were up early and packed up quickly, ready to hit the road by 6 am. Our first stop was Glenveagh National Park, 
  where we cycled down a gravel track that led along Lough Veagh and through Glenveagh Castle. It was a stunning ride, 
  but unfortunately, I encountered my first puncture here. We quickly fixed it and continued on our way.
</p>

<img class="large center" src="/images/journal/day2-glengesh-pass.jpg"/>
<p>
  A little later, we were hit by a torrential downpour and strong winds. We pushed through the challenging conditions 
  until I had another mechanical issue with my bike. My right shifter wouldn't shift up or down on the cassette at the 
  back, leaving me with only 4 usable gears out of 22. It was not a great start to day 2, but we continued on, battling 
  against 50km/h headwinds and climbing the Glengeish Mountain Pass.
</p>

<img class="large center" src="/images/journal/day2-coast.jpg"/>

<p>
  After Glengeish, we continued along brutal hills and stopped at a hostel in Killybegs, feeling totally broken and wiped 
  out. Every muscle in our bodies hurt, and we were exhausted from the challenging ride. We had only covered 137.2km in 
  9:53:48, with 2,435m of elevation gain.
</p>

<iframe src="https://ridewithgps.com/embeds?type=route&id=42141941&metricUnits=true&sampleGraph=true&distanceMarkers=true" style="width: 1px; min-width: 100%; height: 700px; border: none;" scrolling="no"></iframe>
</article>