---
layout: base.njk
title: Day 3 - Race Journal - Outdoors Blog
---

<h2>TransAtanticWay Race Journal</h2>
<h3>Day 3 - "Hope for a Fix"</h3>
<section class="stats">
  <p>
    <strong>Distance: 108.17km</strong>
  </p>
  <p>
    <strong>Moving Time: 6:28:26</strong>
  </p>
  <p>
    <strong>Elevation Gain: 1,373m</strong>
  </p>
</section>

<img class="large center" src="/images/journal/day3-fix-attempt.jpg"/>

<p>
  Today was tough. The reduced gears meant that every hill felt harder than ever before, and 
  doubts began to creep into my mind. I started to wonder if I was capable of completing this 
  challenge. We cycled to Donegal in the hope of finding a bike shop, but unfortunately, we 
  were unsuccessful. We managed to get a number for a mobile bike repair service, and he came 
  to check out the bike. He spent a long time trying to fix the issue but had no luck. He suggested 
  that we try to get it fixed in Sligo, where there was a great bike shop.
</p>

<img class="large center" src="/images/journal/day3-gleniff-horseshoe.jpg"/>
<p>
  We pushed ahead, cycling through the incredible Gleniff Horseshoe, which was stunning. The beauty of the 
  Irish countryside was a welcome distraction from the mechanical issues we were facing. But unfortunately, 
  when we got to Sligo, the bike shop couldn't fix the issue either, leaving me feeling sad and full of doubt 
  like I had never experienced before.
</p>

<iframe src="https://ridewithgps.com/embeds?type=route&id=42188877&metricUnits=true&sampleGraph=true&distanceMarkers=true" style="width: 1px; min-width: 100%; height: 700px; border: none;" scrolling="no"></iframe>

</article>