---
layout: base.njk
title: Day 4 - Race Journal - Outdoors Blog
---

<h2>TransAtanticWay Race Journal</h2>
<h3>Day 4 - "Achill Island"</h3>
<section class="stats">
  <p>
    <strong>Distance: 204.06km</strong>
  </p>
  <p>
    <strong>Moving Time: 11:04:13</strong>
  </p>
  <p>
    <strong>Elevation Gain: 1,919m</strong>
  </p>
</section>

<img class="large center" src="/images/journal/day4-achill-island-sea.jpg"/>

<p>
  The TransAtlanticWay is a one stage self-supported road bike ride
  between Dublin and Cork via The Wild Atlantic Way. A choice of two
  routes: Cu Culhainn – 2500kms and Sedanta – 1700kms with the pounding
  swell of the Atlantic as your constant companion, you follow the blue
  zig-zag signposts through seven of Ireland’s westernmost counties and
  be treated to many of Ireland’s scenic showstoppers, welcoming towns
  and villages, heritage sites and plenty of unexpected thrills.
</p>

<img class="large center" src="/images/journal/day4-achill-island.jpg"/>
<p>
  During the ride all responsibility lies with you, to be totally
  self-sufficient. We will help with logistics by offering a bag and/or
  bike box drop at the start, and transfer of bags to the finish.
</p>

<p>
  All riders will be given and required to carry a gps tracker which
  will enable friends, family and the ride organiser to follow your
  progress and will be used to validate your time and route. The ride
  will be split into two categories: Solo and Pairs.
</p>

<iframe src="https://ridewithgps.com/embeds?type=route&id=42188900&metricUnits=true&sampleGraph=true&distanceMarkers=true" style="width: 1px; min-width: 100%; height: 700px; border: none;" scrolling="no"></iframe>

</article>