---
layout: base.njk
title: Day 4 - Race Journa
---

<h2>TransAtanticWay Race Journal</h2>
<h3>Day 4 - "Achill Island"</h3>
<section class="stats">
  <p>
    <strong>Distance: 204.06km</strong>
  </p>
  <p>
    <strong>Moving Time: 11:04:13</strong>
  </p>
  <p>
    <strong>Elevation Gain: 1,919m</strong>
  </p>
</section>

<img class="large center" src="/images/journal/day4-achill-island-sea.jpg"/>

<p>
  I woke up with a renewed determination to keep going, despite the mechanical issue with my bike. 
  I adjusted my mindset and decided to continue with the race, focusing on what I could do instead of 
  what I couldn't. This change in outlook made the situation feel much more positive, and I was 
  determined to keep pushing forward.
</p>

<img class="large center" src="/images/journal/day4-achill-island.jpg"/>
<p>
  My original strategy was to push through big km days once we reached Sligo, as the elevation flattens 
  out until you get to Kerry. With the wind dying down, we were able to make good progress through Mayo and 
  Galway, taking in the stunning views along the way. We cycled through Achill Island, where we booked a 
  B&B to recuperate for the night.
</p>

<p>
  On day 4, we covered 204km in 11 hours, with 1900m of elevation gain. It felt good to be making progress 
  once again, and the beauty of the Irish countryside was a great reminder of why we were doing this. 
</p>

<iframe src="https://ridewithgps.com/embeds?type=route&id=42188900&metricUnits=true&sampleGraph=true&distanceMarkers=true" style="width: 1px; min-width: 100%; height: 700px; border: none;" scrolling="no"></iframe>

</article>