---
layout: base.njk
title: Day 5 - Race Journa
---

<h2>TransAtanticWay Race Journal</h2>
<h3>Day 5 - "Run In With a Deer"</h3>
<section class="stats">
  <p>
    <strong>Distance: 303.88km</strong>
  </p>
  <p>
    <strong>Moving Time: 15:38:11</strong>
  </p>
  <p>
    <strong>Elevation Gain: 2,528m</strong>
  </p>
</section>

<img class="large center" src="/images/journal/day5-somewhere-in-galway.jpg"/>

<p>
  The goal for today was to reach the second checkpoint at Killary Adventure Centre, which also marked the 
  halfway point in the race. We managed to reach the adventure centre by 1 pm, where my friend left early. However, 
  I decided to stick around a bit longer as I was starting to develop a serious issue of Achilles tendonitis on 
  both of my feet. I chatted with other race participants and the race photographer, Fergus Coyle, to get some 
  insights into how they dealt with this issue.
</p>

<p>
  Fergus gave me a great tip for dealing with the issue by adjusting my pedal stroke and moving my feet in a wave-like 
  pattern rather than holding it steady, thus releasing any tension that was building up in the tendons. After leaving the centre, 
  I put this into practice, and the relief was instantaneous. I didn't want to stop cycling and kept going until I had an 
  unfortunate run-in with a group of deer running across the road just past Loughrea in Galway. The incident left me quite 
  shaken and sporting a nasty road rash. That's when I decided to stop for the night and set up camp along the side of the road.
</p>

<img class="large center" src="/images/journal/day5-camping.jpg"/>
<p>
  Despite the setbacks, I had done my biggest cycling day ever, covering 303.88km in 15:38:11 with 2528m of elevation gain. 
  I was proud of myself for pushing through and making it to the halfway point of the race. With 
  renewed determination and a newfound technique for dealing with my tendonitis issue, I was ready to tackle whatever 
  challenges lay ahead.
</p>

<iframe src="https://ridewithgps.com/embeds?type=route&id=42189059&metricUnits=true&sampleGraph=true&distanceMarkers=true" style="width: 1px; min-width: 100%; height: 700px; border: none;" scrolling="no"></iframe>
</article>