---
layout: base.njk
title: Day 6 - Race Journal
---
<h2>TransAtanticWay Race Journal</h2>
<h3>Day 6 - "To Catch a Ferry"</h3>
<section class="stats">
  <p>
    <strong>Distance: 178.86km</strong>
  </p>
  <p>
    <strong>Moving Time: 10:30:04</strong>
  </p>
  <p>
    <strong>Elevation Gain: 2,017m</strong>
  </p>
</section>

<img class="large center" src="/images/journal/day6-pick-me-up.jpg"/>

<p>
  I was woken up by one of the race photographers, Adrian Crapciu, who invited me to an 
  unofficial third checkpoint nearby for something to eat. It was at a farmhouse near 
  where I had camped for the night. It was great to share my adventure and the early 
  morning run-in with the deer. Adrian then took some great photos of me and my bike before 
  I set off.
</p>
<img class="large center" src="/images/journal/day6-tower-sunset.jpg"/>
<p>
  I cycled through the Burren, taking in the stunning scenery, before witnessing a beautiful 
  sunset just past Doolin. I continued on past the Cliffs of Moher and toward the Tarbert Ferry. 
  My goal was to catch the first ferry in the morning to cross over to Kerry and get a few hours 
  of sleep. So I pushed into the night.
</p>
<img class="large center" src="/images/journal/day6-nightriding.jpg"/>
<p>
  On day 6, I covered a total distance of 178.86km in 10:30:04 with 2017m of elevation gain. Despite the 
  lack of sleep, I was feeling good and determined to keep pushing forward. The beauty of the Irish 
  countryside was a constant source of inspiration, and I was grateful for the support of the race 
  photographers and other participants. With the end of the race in sight, I knew that every pedal 
  stroke counted.
</p>

<iframe src="https://ridewithgps.com/embeds?type=route&id=42189074&metricUnits=true&sampleGraph=true&distanceMarkers=true" style="width: 1px; min-width: 100%; height: 700px; border: none;" scrolling="no"></iframe>

</article>