---
layout: base.njk
title: Day 7 - Race Journal
---

<h2>TransAtanticWay Race Journal</h2>
<h3>Day 7 - "Conor Pass & Dingle"</h3>
<section class="stats">
  <p>
    <strong>Distance: 124.92km</strong>
  </p>
  <p>
    <strong>Moving Time: 7:46:11</strong>
  </p>
  <p>
    <strong>Elevation Gain: 1,086m</strong>
  </p>
</section>

<img class="large center" src="/images/journal/day7-feeling-worse-for-wear.jpg"/>

<p>
  I managed to catch the first ferry in the morning and there was one other participant on the ferry, a 
  hardy cyclist called Vinny who was doing the long route of 2500km. I had incredible respect for him 
  and all of the cyclists doing the long route. I pushed through the day, not taking many photos as I 
  was focused on making progress. The biggest climb of the race was coming up, the Conor Pass, the highest 
  mountain pass in Ireland. It was a gradual 7% gradient with stunning views from the top. The day was hot, 
  and I had to stop halfway up to soak my feet in the cool running streams scattered around the pass.
</p>

<p>
  By the time I reached the bottom of the pass and into Dingle, I was completely exhausted. I couldn't 
  continue, and I booked into a B&B where I quickly had a shower and instantly fell asleep, sleeping for 12 
  hours straight. It was a much-needed rest after a grueling race so far.
</p>

<p>
  I covered just 124.92km in 7:46:11 with 1086m of elevation gain. It was a tough day, but the stunning 
  views and camaraderie of the other cyclists helped to keep me going. Despite the challenges, I was grateful 
  for the experience and the opportunity to push myself to my limits. I knew that the last two days of the race 
  would be a test, but I was ready to rise to the challenge.
</p>

<iframe src="https://ridewithgps.com/embeds?type=route&id=42189127&metricUnits=true&sampleGraph=true&distanceMarkers=true&hideSurface=true" style="width: 1px; min-width: 100%; height: 700px; border: none;" scrolling="no"></iframe>

</article>