---
layout: base.njk
title: Day 8 - Race Journal
---

<h2>TransAtanticWay Race Journal</h2>
<h3>Day 8 - "Riding into the Night"</h3>
<section class="stats">
  <p>
    <strong>Distance: 274.49km</strong>
  </p>
  <p>
    <strong>Moving Time: 16:31:40</strong>
  </p>
  <p>
    <strong>Elevation Gain: 3,271m</strong>
  </p>
</section>

<img class="large center" src="/images/journal/day8-healy-pass.jpg"/>

<p>
  The penultimate day of the race was a mix of familiar and new territory. Renewed from the long night of 
  sleep, I was eager to get this race over with. I was intimately familiar with the next section, as I had 
  done a 3-day training session on this route prior to the race. It started with cycling from the Dingle 
  Peninsula, Slea Head, and then down past Inch Beach. The heat was intense, and there was almost no wind, 
  a great contrast to the wet and windy days of the first half of the race.
</p>

<img class="large center" src="/images/journal/day8-fixing-puncture.jpg"/>

<p>
  Cycling through the Gap of Dunloe, through the Black Valley, and up and over Molls Gap, I took in the 
  fantastic views and chatted with fellow cyclists on the climbs, making it all very memorable and enjoyable.
  After a quick pit stop in Kenmare to refuel, I pushed on over the Healy Pass. I encountered puncture #2 
  just as I was pulling off the Healy Pass on my way along the Beara Peninsula toward Glengariff. I quickly 
  fixed it and continued on.
</p>

<img class="large center" src="/images/journal/day8-night-friend.jpg"/>

<p>
  I stopped again in Bantry (about 11 pm) for another refuel before continuing along the Sheeps Head 
  Peninsula. Here, I ran across another rider who was very happy to see me as he hadn't encountered 
  anybody for at least 6 hours. We exchanged some words, and took a bad selfie before parting ways. I 
  continued into the morning and stopped about 6 am before continuing on to Mizen Head as my eyes were 
  getting very heavy. I quickly pitched the tent and was so tired that I didn't inflate my mattress and 
  fell asleep on the floor of the tent with my sleeping bag.
</p>

<img class="large center" src="/images/journal/day8-moon.jpg"/>

<p>
  On day 8, I covered a total distance of 274.49km in 16:31:40 with 3271m of elevation. I slept for just 
  3 hours before getting up again and continuing on to finish this day out. It was a long and challenging 
  day, but the stunning scenery and camaraderie of the other racers helped to keep me going. With just one 
  day left, I was determined to finish strong and cross the finish line with a sense of accomplishment and 
  pride.
</p>

<iframe src="https://ridewithgps.com/embeds?type=route&id=42189152&metricUnits=true&sampleGraph=true&distanceMarkers=true" style="width: 1px; min-width: 100%; height: 700px; border: none;" scrolling="no"></iframe>

</article>