---
layout: base.njk
title: Day 9 - Race Journa
---

<h2>TransAtanticWay Race Journal</h2>
<h3>Day 9 - "The Last Mile"</h3>
<section class="stats">
  <p>
    <strong>Distance: 169.52km</strong>
  </p>
  <p>
    <strong>Moving Time: 9:37:09</strong>
  </p>
  <p>
    <strong>Elevation Gain: 2,147m</strong>
  </p>
</section>

<img class="large center" src="/images/journal/day9-trail-angels.jpg"/>

<p>
  On the final day of the race, I woke up with just 3 hours of sleep, but surprisingly, my body 
  felt well-rested. As I set out towards the finish line, I was fueled by caffeine pills, and the 
  first boost of the day came in the form of a sign and a box for the athletes, offering water and 
  gummy bears. The replenishing snacks were much-needed as I refilled my bottles and grabbed a 
  handful of gummies to eat.
</p>

<img class="large center" src="/images/journal/day9-hot-feet.png"/>

<p>
  As I cycled towards Mizen Head, I was greeted with a beautiful morning, complete with a chill in the 
  air and a slight fog. However, as the day progressed, the temperature rose, and I found myself 
  stopping at a petrol station to buy a bag of ice to cool down my burning feet. Despite this setback, 
  I was determined to keep going, and the stunning coastal views provided a much-needed boost.
</p>

<img class="large center" src="/images/journal/day9-sunset-onway-to-cork.jpg"/>

<p>
  After reaching Kinsale, I was only 25km away from the finish line in Cork City. However, I knew that 
  this last section of the course was going to be tough, with brutal, unrelenting hills leading away 
  from the flat main road. The back roads were steep and challenging, but I pushed through, determined 
  to reach the finish line.
</p>

<img class="large center" src="/images/journal/day9-warm-welcome.png"/>

<p>
  As the sun began to set, I stopped to capture a beautiful photo of the sky, reflecting on the amazing 
  experience of the past eight days. The final stretch was emotional as I approached the finish line, 
  greeted by my friend who had arrived just 20 minutes before me. Crossing the finish line was an 
  incredible feeling, and my boyfriend was there to give me a warm hug, making the entire journey worth it.
</p>

<div class="video">
  <iframe width="720" height="415" src="https://www.youtube.com/embed/NWDrx5Y4_dY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>
  While the TransAtlanticWay was undoubtedly a grueling physical challenge, it was also a mental and 
  emotional one. As I reflect on the past 8 days, I realize that it was an opportunity for personal 
  growth and self-discovery. The race pushed me to my limits, and at times, I wasn't sure if I could 
  keep going. But every time I wanted to give up, I reminded myself of the stunning beauty around me 
  and the sense of accomplishment that awaited me at the finish line.
</p>

<iframe src="https://ridewithgps.com/embeds?type=route&id=42189170&metricUnits=true&sampleGraph=true&distanceMarkers=true" style="width: 1px; min-width: 100%; height: 700px; border: none;" scrolling="no"></iframe>

</article>